* {
  outline: none;
}

body {
  background: #003366;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font: 16px/1.4 Helvetica, Arial, sans-serif;
}

div.status {
  width: 400px;
  margin: 1em auto;
  padding: 1em;
  background-color: rgb(0, 30, 128);
  border-radius: 1em;
}

div.btn {
  margin: auto;
  padding: auto;
}

fieldset {
  border: 2px solid #ccc;
  padding: 0.5em;
}

fieldset legend {
  font-style: italic;
  color: silver;
}

fieldset label {
  text-align: right;
  padding: 0 1em;
}
